body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-white);
}

a {
  text-decoration: none;
  color: inherit;
}

.footeraddress__contact, .footeraddress__postal, .footeraddress__list, .teamsection__member, .teamsection__position, .worklist__title, .benefitslist__title, .benefitslist__text, header, h1, h2, ul {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footeraddress__list, .team__list, .benefitslist, .contactsnav__item, .contactsnav, .headermenu__item, .headermenu {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.headerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headernav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerlogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
.headerlogo__web {
  color: #2196F3;
}

.headermenu {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headermenu li + li {
  margin-left: 50px;
}
.headermenu__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.headermenu__item:hover, .headermenu__item:focus {
  color: #2196F3;
}
.headermenu__current {
  color: #2196F3;
}
.headermenu__current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: #2196F3;
  border: 1px solid;
  border-radius: 2px;
  margin-top: 28px;
}

.contactsnav {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.contactsnav li + li {
  margin-left: 50px;
}
.contactsnav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contactsnav__item:hover, .contactsnav__item:focus {
  color: #2196F3;
}
.contactsnav__smartphone, .contactsnav__email {
  fill: #757575;
  padding: 0;
  border: none;
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contactsnav__item:hover .contactsnav__email, .contactsnav__item:focus .contactsnav__email, .contactsnav__item:hover .contactsnav__smartphone, .contactsnav__item:focus .contactsnav__smartphone {
  fill: #2196F3;
  color: #2196F3;
}

.mainpage {
  text-align: center;
}

.overlay {
  height: 600px;
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background\ hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background\ hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.maintitle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px auto 30px;
  width: 696px;
}

.buttonopen {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196F3;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttonopen:hover, .buttonopen:focus {
  background-color: #188CE8;
  border-radius: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #ffffff;
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal__button {
  background-color: #ffffff;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}
.modal__text {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  text-align: center;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.modal__form {
  width: 448px;
}
.modal__itemfirst, .modal__item, .modal__itemlast {
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal__item, .modal__itemlast {
  margin-top: 10px;
}
.modal__itemlast {
  margin-bottom: 20px;
}
.modal__input {
  width: 100%;
  height: 40px;
  margin: 0;
  outline: 0;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 30px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin: 0;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__agreetext {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__input:focus, .modal__input:hover, .modal__textarea:hover, .modal__textarea:focus, .modal__input:active, .modal__textarea:active {
  border: 1px solid #2196F3;
}
.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal__itemfirst, .modal__item, .modal__itemlast {
  position: relative;
}
.modal__agreebutton {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196F3;
  padding: 10px 52px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__agreebutton:hover, .modal__agreebutton:focus {
  background-color: #188CE8;
  border-radius: none;
}
.modal__agreement .modal__agreelink {
  color: #2196F3;
  text-decoration: underline;
}
.modal__icon {
  position: absolute;
  fill: #212121;
  -webkit-transform: translateX -60%;
          transform: translateX -60%;
  bottom: 17%;
  right: 94%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon, .modal__input:active + .modal__icon {
  fill: #2196F3;
}
.modal__agreement {
  margin-bottom: 30px;
}
.modal__agreelabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.modal__checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.modal__checkitem {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: #ffffff;
  border: 1px solid #212121;
  margin-right: 8.38px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__agreeicon {
  opacity: 0;
}
.modal__checkbox:checked + .modal__checkitem {
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
}
.modal__checkbox:checked + .modal__agreeicon {
  opacity: 1;
}

.benefitmenu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.benefitslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefitslist li + li {
  margin-left: 30px;
}
.benefitslist__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
}
.benefitslist__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.benefitslist__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: #757575;
}

.workmenu {
  padding-bottom: 94px;
}

.worklist__title {
  color: #212121;
  margin-bottom: 50px;
}
.worklist__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.worklist__box li + li {
  margin-left: 30px;
}
.worklist__item {
  position: relative;
  list-style: none;
}
.worklist__item:hover, .worklist__item:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.worklist__name {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
}

.teammenu {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__name {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__list li + li {
  margin-left: 30px;
}

.teamsection {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}
.teamsection__div {
  margin-top: 30px;
  margin-bottom: 16px;
}
.teamsection__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
.teamsection__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}
.teamsection__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.teamsection__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teamsection__link:hover, .teamsection__link:focus {
  fill: #ffffff;
  background-color: #2196F3;
}
.teamsection__list li + li {
  margin-left: 10px;
}
.teamsection__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teamsection__link:hover .teamsection__icon, .teamsection__link:focus .teamsection__icon {
  fill: #ffffff;
}

.clientsmenu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
}
.clients__item {
  display: block;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link .clients__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196F3;
}

footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footerdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footercontacts {
  display: block;
}

.footerlogo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  margin-bottom: 20px;
  display: block;
}
.footerlogo__web {
  color: #2196F3;
}
.footerlogo__studio {
  color: #ffffff;
}

.footeraddress {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
}
.footeraddress__postal {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footeraddress__contact {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 9px;
}
.footeraddress__postal:hover, .footeraddress__postal:focus, .footeraddress__contact:hover, .footeraddress__contact:focus {
  color: #2196F3;
}

.footerlinks {
  display: block;
  margin-left: 70px;
}
.footerlinks__text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  text-align: left;
  letter-spacing: 3%;
  text-transform: uppercase;
  display: block;
  margin: 0;
  padding-bottom: 20px;
}
.footerlinks__item {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footerlinks__item:hover, .footerlinks__item:focus {
  background-color: #2196F3;
}
.footerlinks__item li + li {
  margin-left: 10px;
}
.footerlinks__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerform {
  margin-left: auto;
  display: block;
}
.footerform__text {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 3%;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-bottom: 20px;
}
.footerform__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerform__input {
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}
.footerform__input:hover, .footerform__input:focus {
  color: #ffffff;
}
.footerform__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88em;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196F3;
  padding: 10px 28px;
  margin-left: 12px;
}/*# sourceMappingURL=main.css.map */