/*Page Styles*/
:root{
    --main-blue: #2196F3;
    --main-black: #000000;
    --main-blackish: #212121;
    --main-grey: #757575;
    --main-background: #2F303A;
    --main-white: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-white);
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    display: block;
}

h2,
h3 {
    color: var(--main-blackish);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 50px;
}

header, h1, h2, ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Header Styles*/
header {
    border-bottom: 1px solid #ECECEC;
}

.headerdiv {
    display: flex;
}

.headernav {
    display: flex;
    align-items: center;
}

.headerlogo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: var(--main-black);

    display: flex;
}

.headerlogo__web {
    color: var(--main-blue);
}

.headermenu {
    list-style: none;
    text-decoration: none;
    margin-left: 93px;
    display: flex;
}

.headermenu li + li {
    margin-left: 50px;
}

.contactsnav {
    list-style: none;
    text-decoration: none;
    margin-left: auto;
    display: inline-flex;
}

.contactsnav li + li {
    margin-left: 50px;
}

.headermenu__item {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;

    color: var(--main-blackish);

    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: column;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactsnav__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;

    color: var(--main-grey);

    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headermenu__item:hover, .headermenu__item:focus {
    color: var(--main-blue);
}

.contactsnav__item:hover, .contactsnav__item:focus {
    color: var(--main-blue);
}

.contactsnav__item:hover .contactsnav__email,
.contactsnav__item:focus .contactsnav__email,
.contactsnav__item:hover .contactsnav__smartphone,
.contactsnav__item:focus .contactsnav__smartphone {
    fill: var(--main-blue);
    color: var(--main-blue);
}

.contactsnav__smartphone, .contactsnav__email {
    fill: var(--main-grey);
    padding: 0;
    border: none;
    margin-right: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headermenu__current {
    color: var(--main-blue);
    padding-bottom: 0;
}

.headermenu__current::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: var(--main-blue);
    border: 1px solid;
    border-radius: 2px;
    margin-top: 28px;
}

/*Main Styles*/
.mainpage {
    text-align: center;
}

.overlay {
    height: 600px;
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background\ hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.maintitle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37em;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--main-white);

    margin: 0px auto 30px;
    width: 696px;
}

.buttonopen {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;

    color: var(--main-white);
    background-color: var(--main-blue);

    padding: 10px 32px;
}

.overlay > .buttonopen {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > .buttonopen:hover, .overlay > .buttonopen:focus {
    background-color: #188CE8;
    border-radius: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    background-color: var(--main-white);
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.modal__button {
    background-color: var(--main-white);
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    position: absolute;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
    fill: var(--main-blue);
}

.modal__text {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 20px;
    color: var(--main-blackish);
    text-align: center;
    line-height: 1.15;
    letter-spacing: 0.03em;
}

.modal__form {
    width: 448px;
}

.modal__itemfirst, .modal__item {
    width: 448px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal__item, .modal__itemlast {
    margin-top: 10px;
}

.modal__itemlast {
    margin-bottom: 20px;
}

.modal__input {
    width: 100%;
    height: 40px;
    margin: 0;
    outline: 0;
    font: inherit;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 11px 30px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    margin: 0;
    border-radius: 4px;
    outline: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.modal__agreetext {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-grey);
}

.modal__input:focus, .modal__input:hover,
.modal__textarea:hover, .modal__textarea:focus,
.modal__input:active, .modal__textarea:active {
    border: 1px solid #2196F3;
}

.modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--main-grey);
    margin-bottom: 4px;
}

.modal__itemfirst, .modal__item, .modal__itemlast {
    position: relative;
}

.modal__agreebutton {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;

    color: var(--main-white);
    background-color: var(--main-blue);

    padding: 10px 52px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__agreebutton:hover, .modal__agreebutton:focus {
    background-color: #188CE8;
    border-radius: none;
}

.modal__agreement .modal__agreelink {
    color: var(--main-blue);
    text-decoration: underline;
}

.modal__icon {
    position: absolute;
    fill: var(--main-blackish);
    transform: translateX (-60%);
    bottom: 17%;
    right: 94%;
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon,
.modal__input:active + .modal__icon {
    fill: var(--main-blue);
}

.modal__agreement {
    margin-bottom: 30px;
}

.modal__agreelabel {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal__checkbox {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modal__checkitem {
    display: inline-block;
    width: 16px;
    height: 15px;
    fill: var(--main-white);
    border: 1px solid var(--main-blackish);
    margin-right: 8.38px;
    border-radius: 4px;
}

.modal__agreeicon {
    opacity: 0;
}

.modal__checkbox:checked + .modal__checkitem {
    background-color: var(--main-blue);
    border: none;
    border-radius: 4px;
}

.modal__checkbox:checked + .modal__agreeicon {
    opacity: 1;
}

/*Benefits*/
.benefitmenu {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px; 
}

.benefitslist {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.benefitslist li + li {
    margin-left: 30px;
}

.benefitslist__icon {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
}

.benefitslist__title, .benefitslist__text {
    margin: 0;
    padding: 0;
}

.benefitslist__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom:10px;
    margin-top: 30px;
}

.benefitslist__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7em;
    letter-spacing: 0.03em;

    color: var(--main-grey);
}

/*not understandable style*/
img {
    display: block; 
    width: 100%; 
    height: auto; 
}

/*What we do*/
.workmenu {
    padding-bottom: 94px;
}

.worklist__title {
    margin: 0;
    padding: 0;
    color: var(--main-blackish);
    margin-bottom: 50px;
}

.worklist__box {
    display: flex;
}

.worklist__box li + li {
    margin-left: 30px;
}

.worklist__item {
    position: relative;
    list-style: none;
}

.worklist__item:hover, .worklist__item:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.worklist__name {
    position: absolute;
    bottom: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    text-transform: uppercase;
    color: var(--main-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    background-color:rgba(47, 48, 58, 0.8);
}

/*Out team*/
.teammenu {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__name {
    margin-bottom: 50px;
    display: block;
    text-align: center;
}

.team__list {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.team__list li + li {
    margin-left: 30px;
}

.teamsection {
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.teamsection__div {
    margin-top: 30px;
    margin-bottom: 16px;
}

.teamsection__member, .teamsection__position {
    margin: 0;
    padding: 0;
}

.teamsection__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
    text-align: center;
}

.teamsection__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: var(--main-grey);

    text-align: center;
}

.teamsection__list {
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    list-style: none;
}

.teamsection__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-white);
    box-shadow: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamsection__link:hover, .teamsection__link:focus {
    fill: var(--main-white);
    background-color: var(--main-blue);
}

.teamsection__list li + li {
    margin-left: 10px;
}

.teamsection__icon {
    fill:#afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamsection__link:hover .teamsection__icon, 
.teamsection__link:focus .teamsection__icon {
    fill:#ffffff;
}

/*Clients*/
.clientsmenu {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    margin-bottom: 50px;
}

.clients__list {
    display:flex;
    gap: 30px;
    list-style: none;
}

.clients__item {
    display: block;
}

.clients__link {
    display:flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
    fill:#afb1b8; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link .clients__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
    border: 1px solid var(--main-blue);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill:var(--main-blue);
}

/*Footer Styles*/
footer {
    background-color: var(--main-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footerdiv {
    display: flex;
}

.footercontacts {
    display: block;
}

.footerlogo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    color: var(--main-black);

    margin-bottom: 20px;
    display: block; 
}

.footerlogo__web {
    color: var(--main-blue);
}

.footerlogo__studio {
    color: var(--main-white);
}

.footeraddress {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7em;
    letter-spacing: 0.03em;
    text-decoration: none;

    display: block;
}

.footeraddress__list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.footeraddress__postal {
    color: var(--main-white);
    padding: 0;
    margin: 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footeraddress__contact {
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footeraddress__contact {
    margin-top: 9px;
}

.footeraddress__postal:hover, .footeraddress__postal:focus,
.footeraddress__contact:hover, .footeraddress__contact:focus {
    color: var(--main-blue);
}

.footerlinks {
    display: block;
    margin-left: 70px;
}

.footerlinks__text {
    color: var(--main-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    line-height: 100%;
    text-align: left;
    letter-spacing: 3%;
    text-transform: uppercase;
    display: block;
    margin: 0;
    padding-bottom: 20px;
}

.footerlinks__item {
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footerlinks__item:hover, .footerlinks__item:focus {
    background-color: var(--main-blue);
}

.footerlinks__item li + li {
    margin-left: 10px;
}

.footerlinks__icon {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.footerform {
    margin-left: auto;
    display: block;
}

.footerform__text {
    color: var(--main-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 3%;
    text-transform: uppercase;
    display: block;
    margin: 0;
    margin-bottom: 20px;
}

.footerform__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerform__input {
    width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
}

.footerform__input:hover, .footerform__input:focus {
    color: var(--main-white);
}

.footerform__button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;

    color: var(--main-white);
    background-color: var(--main-blue);

    padding: 10px 28px;
    margin-left: 12px;
}

/*Portfolio Styles*/
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projectmenu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projectmenu li + li {
    margin-left: 8px;
}

.projectmenu__button {
    font-family: inherit;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0.03em;
    cursor: pointer;

    color: var(--main-blackish);
    background-color: #F5F4FA;

    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projectmenu__button:hover, .projectmenu__button:focus {
    background-color: var(--main-blue);
    color: var(--main-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projectlist {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    text-decoration: none;
}

.projectlist_item {
    flex-basis: calc((100% - 60px) / 3);
}

.projectlist__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projectlist__thumb {
    position: relative;
    overflow: hidden;
}

.projectlist__image {
    display: block;
}

.projectlist__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projectlist__text {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: var(--main-white);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 63px 24px;
}

.projectlist__flex {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.projectlist__title, .projectlist__category {
    margin: 0;
    padding: 0;
}

.projectlist__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    text-decoration: none;

    color: var(--main-blackish);

    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    text-align: left;
}

.projectlist__category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--main-grey);

    margin: 0;
    padding: 0;
}

.projectlist__link:hover, .projectlist__link:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projectlist__link:hover .projectlist__overlay,
.projectlist__link:focus .projectlist__overlay {
    transform: translateY(0%);
}


 


