body {
    @extend %body;
}

a {
    @extend %a;
}

h2 {
    @extend %h2;
}

img {
    @extend %img;
}

.container {
    @media screen and (max-width: 480px) {
        width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
            width: 1200px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }    
}

header, h1, h2, ul {
    @extend %titles;
}

@mixin animated($value) {
    transition: $value 250ms $transition-cubic;
}