header {
    border-bottom: $header-border;

    &__backdrop &__is-hidden {
        display: none;
    }

    &__modal {
        padding: 0;
        margin: 0;
        background-color: $main-white;

        @media screen and (min-width: 480px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 480px;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__buttonclose:hover, &__buttonclose:focus {
        fill: $main-blue;
    }

    &__mobilemenulist {
        @extend %liststyle-textdecoration;
        margin-top: 48px;
        margin-left: 40px;
    }

    &__mobilemenulist li + li {
        margin-top: 32px;
    }

    &__mobilemenuitem {
        color: $main-blackish;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
    }

    &__mobilecurrent {
        color: $main-blue;
    }

    &__mobilecontacts {
        margin-top: 302px;
        margin-left: 40px;
    }

    &__mobilecontactslist {
        @extend %liststyle-textdecoration;
    }

    &__mobilephone {
        margin-bottom: 32px;
        color: $main-blue;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
    }

    &__mobileemail {
        margin-bottom: 64px;
        color: $main-grey;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
    }

    &__mobilesocial {
        display: flex;
        margin-left: 40px;
        justify-content: flex-start;
    }

    &__mobilesociallist {
        @extend %liststyle-textdecoration;
    }

    &__mobilesociallink {
        color: $main-blue;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
    }

    &__mobilesociallink::after {
        content: "";
        display: block;
        height: 22px;
        width: 100%;
        background: rgba(33, 33, 33, 0.2);
        border: 1px solid;
        border-radius: 2px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    @include animated(opacity);

    @media screen and (min-width: 768px) {
        display: none;
    }

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.headerdiv {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 768px) {
        gap: 96px;
    }
}

.headernav {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        gap: 87px;
    }    

    &__buttonopen {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        margin-left: 276px;
        padding-top: 10px;
        padding-bottom: 10px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__buttonopen &__cross {
        opacity: 1;
    }

    &__is-open &__cross {
        opacity: 1;
    }

    &__is-open &__menu {
        opacity: 1;
    }
}

.headerlogo {
    display: flex;
    font-family: $raleway-font;
    font-weight: $bold-font;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $main-black;

    &__web {
        color: $main-blue;
    }
}

.headermenu {
    @extend %liststyle-textdecoration;
    display: flex;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }

    & li + li {
        margin-left: 50px;

        @media screen and (max-width: 480px) {
            margin-left: none;
        }
    }

    &__item {
        @extend %liststyle-textdecoration;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        color: $main-blackish;
        display: flex;
        padding-top: 32px;
        flex-direction: column;
        @include animated(color);
    }

    &__item:hover, &__item:focus {
        color: $main-blue;
    }

    &__current {
        color: $main-blue;
    }

    &__current::after {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        background: $main-blue;
        border: 1px solid;
        border-radius: 2px;
        margin-top: 28px;
    }
}

.contactsnav {
    @extend %liststyle-textdecoration;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 30px;
}

    & li + li {
        margin-left: 50px;
        
        @media screen and (min-width: 768px) {
            margin-left: 0;
        }
    }

    &__item {
        @extend %liststyle-textdecoration;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        display: flex;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $main-grey;
        @include animated(color);

        @media screen and (min-width: 768px) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__item:hover, &__item:focus {
        color: $main-blue;
    }

    &__smartphone, &__email {
        fill: $main-grey;
        padding: 0;
        border: none;
        margin-right: 10px;
        @include animated(fill);

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__item:hover &__email,
    &__item:focus &__email,
    &__item:hover &__smartphone,
    &__item:focus &__smartphone {
        fill: $main-blue;
        color: $main-blue;
    }
}

