header {
    border-bottom: $header-border;
}

.headerdiv {
    display: flex;
}

.headernav {
    display: flex;
    align-items: center;
}

.headerlogo {
    display: flex;
    font-family: $raleway-font;
    font-weight: $bold-font;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $main-black;

    &__web {
        color: $main-blue;
    }
}

.headermenu {
    @extend %liststyle-textdecoration;
    margin-left: 93px;
    display: flex;

    & li + li {
        margin-left: 50px;
    }

    &__item {
        @extend %liststyle-textdecoration;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        color: $main-blackish;
        display: flex;
        padding-top: 32px;
        flex-direction: column;
        @include animated(color);
    }

    &__item:hover, &__item:focus {
        color: $main-blue;
    }

    &__current {
        color: $main-blue;
    }

    &__current::after {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        background: $main-blue;
        border: 1px solid;
        border-radius: 2px;
        margin-top: 28px;
    }
}

.contactsnav {
    @extend %liststyle-textdecoration;
    margin-left: auto;
    display: inline-flex;

    & li + li {
        margin-left: 50px;
    }

    &__item {
        @extend %liststyle-textdecoration;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14em;
        letter-spacing: 0.02em;
        display: flex;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $main-grey;
        @include animated(color);
    }

    &__item:hover, &__item:focus {
        color: $main-blue;
    }

    &__smartphone, &__email {
        fill: $main-grey;
        padding: 0;
        border: none;
        margin-right: 10px;
        @include animated(fill);
    }

    &__item:hover &__email,
    &__item:focus &__email,
    &__item:hover &__smartphone,
    &__item:focus &__smartphone {
        fill: $main-blue;
        color: $main-blue;
    }
}