.teammenu {
    background-color: $background-color;

    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team {
    &__name {
        margin-bottom: 30px;
        display: block;
        text-align: center;

        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
    }

    &__list {
        @extend %liststyle-textdecoration;
        display: flex;

        @media screen and (max-width: 480px) {
            display: block;
        }

         /* calc((100%-quantity of margins in line * margin) / quantity of lines)*/

        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            width: calc((100% - 2 * 30px) / 2);
        }

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
            width: 100%;
        }
    }

    &__list li + li {
            margin-top: 30px;

        @media screen and (min-width: 1200px) {
            margin-left: 30px;
            margin-top: 0;
        }
    }

    &__list li:nth-child(2n) {
        @media screen and (min-width: 768px) {
            margin-left: 30px;
        }
    }
}

.teamsection {
    background-color: $main-white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);

    &__div {
        margin-top: 30px;
        margin-bottom: 16px;
    }

    &__member, &__position {
        @extend %titles;
    }

    &__member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
        text-align: center;
    }
    
    &__position {
        font-weight: $regular-font;
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $main-grey;
        text-align: center;
    }

    &__list {
        display: flex;
        padding-bottom: 24px;
        justify-content: center;
        list-style: none;

        @media screen and (min-width: 1200px) {
            padding-bottom: 30px;
        }
    }

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $main-white;
        box-shadow: none;
        @include animated(background-color);
    }

    &__link:hover, &__link:focus {
        fill: $main-white;
        background-color: $main-blue;
    }

    &__list li + li {
        margin-left: 10px;
        margin-top: 0;
    }

    &__list li:nth-child(2n) {
        @media screen and (min-width: 768px) {
            margin-left: 0;
        }
    }

    &__icon {
        fill: $icon-fill;
        @include animated(fill);
    }

    &__link:hover &__icon, &__link:focus &__icon {
        fill: $main-white;
    }
}