$main-blue: #2196F3;
$main-black: #000000;
$main-blackish: #212121;
$main-grey: #757575;
$main-background: #2F303A;
$main-white: #ffffff;
$button-blue: #188CE8;
$h1-display: block;
$h2-marginbtm: 50px;
$transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$raleway-font: "Raleway", sans-serif;
$bold-font: 700;
$regular-font: 400;
$header-border: 1px solid #ECECEC;
$background-color: #F5F4FA;
$icon-fill: #afb1b8;
